#mainPage {
  .sectionTitles::after {
    position: absolute;
    display: block;
    content:" ";
    width: 75px;
    height: 4px;
    background:#ffcc00;
    left: 2px;
    top: 0;
  }
  #mainBanner {
    background-image: url("../img/main/MainBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    #bannerTitle {
      color:#fff;
      padding-top: 14%;
      padding-bottom: 9%;
      .sectionTitles {
        text-align: left;
      }
      .sectionSubTitles {
        text-align: left;
        margin-bottom: 1rem;
      }
    }
  }
  #newsLatest {
    padding-top: 6.7%;
    padding-bottom: 8%;
    .sectionSubTitles {
      color:#ffcc00;
      border-bottom: 2px solid #6f6c64;
      padding-bottom: 4%;
      margin-bottom: 4%;
      line-height: 0.8;
      font-weight: 500;
    }
    img {
      width: 100%;
    }
    #newsListContents {
      #newsThumbs {
        float:left;
        width: 40%;
      }
      .newsLists {
        float:right;
        width:55%;
        .newsItems {
          margin-bottom: 2.3%;
          position: relative;
          line-height: 0.9;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            font-size: 0.858rem;
            color:#686868;
            font-weight: 500;
            &:hover {
              color:#686868;
            }
          }
          .listDateTime {
            position: absolute;
            right: 0;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  #prints {
    padding-top: 3.76%;
    padding-bottom: 4.28%;
    background:#dbdbdb;
    #printList {
      li {
        float:left;
        width:calc(100% / 4);
        overflow: hidden;
        border-right: 1px solid #888888;
        height: 514px;
        position: relative;
        padding:30px 40px;
        .sectionSubTitles {
          font-weight: 500;
          color:#686868;
        }
        .printThumbs {
          position: absolute;
          bottom: 30px;
          transition: 0.5s;
        }
        #print_0 {
          right: -18%;
          img {
            width:100%;
            min-width: 227px;
          }
          &:hover {
            right:0;
          }    
        }
        #print_1 {
          right: -75%;
          img {
            width:100%;
            min-width: 424px;
          }
          &:hover {
            right:-25%;
          }
        }
        #print_2 {
          right: -32%;
          img {
            width:100%;
            min-width: 277px;
          }
          &:hover {
            right:0;
          }
        }
        #print_3 {
          right: -17%;
          img {
            width:100%;
            min-width: 244px;
          }
          &:hover {
            right:0;
          }
        }
      }
    }
  }
  #autos {
    padding-top: 3.76%;
    padding-bottom: 4.28%;
    #autoList {
      li {
        float:left;
        width:calc(100% / 3);
        overflow: hidden;
        border-right: 1px solid #888888;
        height: 514px;
        position: relative;
        padding:30px 40px;
        .sectionSubTitles {
          font-weight: 500;
          color:#686868;
        }
        .autoThumbs {
          position: absolute;
          bottom: 30px;
          transition: 0.5s;
        }
        #auto_0 {
          right: -15%;
          img {
            width:100%;
            min-width: 316px;
          }
          &:hover {
            right:0;
          }    
        }
        #auto_1 {
          right: -9%;
          img {
            width:100%;
            min-width: 226px;
          }
          &:hover {
            right:0%;
          }
        }
        #auto_2 {
          right: -44%;
          img {
            width:100%;
            min-width: 390px;
          }
          &:hover {
            right:-10%;
          }
        }
      }
    }
  }
  #partners {
    padding-top: 6.3%;
    padding-bottom: 6.3%;
    background:#dbdbdb;
    text-align: center;
    .swiper-container {
      padding:0 20px;
      img {
        max-height: 40px;
      }
      .swiper-button-next {
        color:#000;
        &:after {
          font-size: 1rem;
        }
      }
      .swiper-button-prev {
        color:#000;
        &:after {
          font-size: 1rem;
        }
      }
    }
  }
  #contact {
    padding-top: 9.5%;
    padding-bottom: 9.5%;
    color:#686868;
    font-weight: 500;
    #contactInfo {
      margin-bottom: 0;
      li {
        float: left;
        width:calc(100% / 3);
        &:first-child {
          .sectionSubTitles {
            color:#ffcc00
          }
        }
        &:last-child {
          text-align: right;
          div {
            display: inline-block;
            text-align: left;
          }
        }
        .sectionSubTitles {
          font-weight: 600;
        }
        p {
          margin-bottom: 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}